*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.cnt{
    padding: 7vmax 1vmax;
    width: 100%;
    height: 100vh;
    background: #000;
    color: white;
}
.dropzone{
    height: 15vmax;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-img{
    height: 100%;
}